<div ng-controller="productController as productCtrl" style="padding: 10px;">
    <product-filter></product-filter>
    <ul ng-repeat="list in products">
        <li ng-controller="panelController as panel" class="product-box__product" ng-repeat="product in list.Products.List | orderBy: orderby | filter: sortby" ng-click="selectTab()">
            <div class="product-box__image">
                <img ng-src="{{product.Labels[0].Url}}" alt="{{product.Name}}">
            </div>
            <div class="product-box__product-name">
                <p>
                    Name: {{product.Name}}
                </p>
            </div>
            <div class="product-box__product-description" ng-show="isSelected">
                <a href="{{product.Url}}">Link</a><br />
                <p>Type: {{product.Type}}</p>
                <p>WineType: {{product.Varietal.WineType.Name}}</p>
                <p>Vineyard: {{product.Vineyard.Name}}</p>
                <p>Image:</p>
                <img ng-src="{{product.Vineyard.ImageUrl}}" alt="Alternate Text" />

            </div>
        </li>
        <li class="product-box__product" ng-if="products.length === 0">
            <strong>No results found...</strong>
        </li>
    </ul>
    <product-form></product-form>
</div>
